@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic, elastic-r);
$hamburger-layer-color: #000;
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss";







.title-all{
  margin-top: 64px;
  position: relative;
  z-index: 69;
  h2{
    font-size: 48px;
    font-weight:bold;
    color: #000000;
  }
}
.text-items-galery{
  margin-top: 117px;
  h3{
    color: #090a0b;
    font-size: 30px;
    line-height: 24px;
    font-weight:bold;
    position: relative;
    z-index: 69;
  }
}


.ft-galery{
  padding-top: 53px;
  position: relative;
  z-index: 69;
  float: left;
 h3{
   font-size:16px;
   line-height: 36px;
   font-weight:400;
 }
 p{
   font-size: 16px;
   color: #090a0b;
   line-height: 36px;
 }
}

.change-block-galety{
  margin-left: 212px;
  float: left;
  margin-top: -273px;
}

.bg-block{
  width: 593px;
  height: 333px;
  background-color: #2de5ec;
  position: relative;
  margin-left: 49px;
  margin-top: -59px;
  opacity: 0.12;
}




.galery-img{
  li{
    float: left;
    width: 227px;
    height: 168px;
    margin: 0 2px;
    position: relative;
    cursor: pointer;
    &:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.5);
    }
    &:hover{
      box-shadow: 0 0px 15px rgba(0,0,0, 1);
      &:after{
        display: none;
      }
    }
    img{
      width: 100%;
    }
  }
}






//ALWAYS END
@import "sketches.scss";