@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic, elastic-r);
$hamburger-layer-color: #000;
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss";




.galery-projects{
  padding: 64px 45px 0 45px;
  .number-abs{
    top: 0;
  }
}


.title-all{
  position: relative;
  z-index: 70;
  h2{
    font-size: 48px;
    font-weight:bold;
    color: #000000;
  }
  @if $adaptive == true {
    @media (max-width: 1350px){
      h2{
        margin-left: 50px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      padding-left: 0px;
      h2{
        padding-left: 0px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 622px){
      h2{
        font-size:40px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 563px){
      h2{
        font-size:35px;
        line-height: 40px;
        br{
          display: none;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 514px){
      h2{
        font-size:30px;
        line-height: 40px;
        br{
          display: none;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 424px){
      h2{
        font-size:27px;
        line-height: 40px;
        br{
          display: none;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 395px){
      h2{
        font-size:6vw;
        line-height: 40px;
        br{
          display: none;
        }
      }
    }
  }
}

.text-items-galery{
  margin-top: 117px;
  h3{
    color: #090a0b;
    font-size: 30px;
    line-height: 35px;
    font-weight:bold;
    position: relative;
    z-index: 69;
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      margin-top: 30px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 382px){
      h3{
        font-size: 22px;
      }
    }
  }
}


.ft-galery{
  padding-top: 53px;
  position: relative;
  z-index: 69;
  float: left;
 h3{
   font-size:16px;
   line-height: 36px;
   font-weight:400;
 }
 p{
   font-size: 16px;
   color: #090a0b;
   line-height: 36px;
 }
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      display: block;
      float: none;
    }
  }
  @if $adaptive == true {
    @media (max-width: 500px){
      padding-top: 20px;
      p{
        line-height: 25px;
        font-size: 14px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 400px){
      padding-top: 20px;
      text-align: left;
      p{
        line-height: 25px;
        font-size: 9.6px;
      }
    }
  }
}

.change-block-galety{
  margin-left: 212px;
  float: left;
  position: relative;
  z-index: 69;
  margin-top: -283px;
  @if $adaptive == true {
    @media (max-width: 1250px){
      width: 45%;
      margin-left: 175px;

    }
  }
  @if $adaptive == true {
    @media (max-width: 1223px){
      width: 40%;
      margin-left: 130px;

    }
  }
  @if $adaptive == true {
    @media (max-width: 1160px){
      margin-left: 40px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      display: block;
      float: none;
      margin: 0 auto;
      width: 100%;
    }
  }
  @if $adaptive == true {
    @media (max-width: 500px){
      img{
        width: 100%;
      }
    }
  }
}

.bg-block{
  width: 593px;
  height: 333px;
  background-color: #2de5ec;
  position: relative;
  margin-left: 49px;
  margin-top: -59px;
  opacity: 0.12;
  @if $adaptive == true {
    @media (max-width: 991px){
      display: none;
    }
  }
}




.galery-img{
  li{
    float: left;
    width: 227px;
    height: 168px;
    margin: 0 2px;
    position: relative;
    cursor: pointer;
    &:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.5);
    }
    &:hover{
      box-shadow: 0 0px 15px rgba(0,0,0, 1);
      &:after{
        display: none;
      }
    }
    img{
      width: 100%;
    }

  }
  @if $adaptive == true {
    @media (max-width: 1616px){
      li{
        float: none;
        display: inline-block;
        margin: 0;
        width: 200px;
        height: 168px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1418px){
      li{
        float: none;
        display: inline-block;
        margin: 0;
        width: 180px;
        height: 168px;
        img{
          height: 168px;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      text-align: center;
      li{
        float: none;
        display: inline-block;
        margin: 2.5px 0
      ;
        width: 180px;
        height: 168px;
        img{
          height: 168px;
        }
      }
    }
  }
}

.galert-projects-two{
  padding-top: 0;
  .change-block-galety{
    margin-left: 0;
    margin-right: 46px;
    margin-top: 112px;
  }
  .bg-block{
    margin-left: 580px;
    margin-top: 110px;

  }
  .text-items-galery{
    margin-top: 146px;
    float: right;
    margin-right: 150px;
  }
  .ft-galery{

  }
  .galery-img{
    position: relative;
    margin-top: -185px;

  }
  @if $adaptive == true {
    @media (max-width: 1350px){
      .text-items-galery{
        margin-right: 130px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1266px){
      .change-block-galety{
        margin-right: 0;
      }
      .bg-block{
        margin-left: 400px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1220px){
      .change-block-galety{
        margin-right: 0;
        width: 40%;
        img{
          width: 100%;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1200px){
      .bg-block{
        margin-left: 480px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1196px){
      .change-block-galety{
        margin-top: 110px;
        margin-right: 20px;
      }

    }
  }
  @if $adaptive == true {
    @media (max-width: 1090px){
      .bg-block{
        margin-left: 380px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1170px){
      .text-items-galery{
        margin-right: 125px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1145px){
      .text-items-galery{
        margin-right: 100px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1120px){
      .text-items-galery{
        margin-right: 50px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1070px){
      .text-items-galery{
        margin-right: 0px;
      }
      .change-block-galety{
        margin-right: 0;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1001px){
      .change-block-galety{
        width: 47%;
        img{
          width: 100%;
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 994px){
      .change-block-galety{
        margin-right: 20px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      .text-items-galery{
        float: none;
        margin-right: 0;
        margin-top: 30px;
      }
      .change-block-galety{
        width: inherit;
        margin-top: 15px;
        img{
          width: auto;
        }
      }
      .galery-img{
        margin-top: 0;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 500px){
      .change-block-galety{
        img{
          width: 100%;
        }
      }
    }
  }
}


.galery-projects-tree{
  margin-top: 170px;
  padding-top: 0;
  .change-block-galety{
    margin-top: -60px;
  }
  .galery-img{
    position: relative;
    margin-top: -180px;

  }
  @if $adaptive == true {
    @media (max-width: 1320px){
      margin-top: 0px;
    }
  }
  @if $adaptive == true {
    @media (max-width: 991px){
      margin-top: 30px;
      padding: 0 15px;
      .change-block-galety{
        margin-top: 15px;
      }
      .galery-img{
        margin-top: 0;
      }
    }
  }
}



.director{
  background-color: #f5f2f2;
  padding: 58px 45px 0 45px;
  .title-all{
    margin-top: 26px;
  }
  .number-abs{
    top: 20px;
  }
  @if $adaptive == true {
    @media (max-width: 1246px){
      .forma-h{
        margin-left: 15px;
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1233px){
      .forma-h{
        width: 30%;
        p{
          br{display: none}
        }
      }
    }
  }
  @if $adaptive == true {
    @media (max-width: 1154px){
      .forma-h{
        float: none;
        text-align: center;
        width: 100%;
      }
    }
  }
}
.director-info{
  text-align: center;
}
.c-tre{
  display: inline-block;
}


.name-h{
  float: left;
  max-width: 230px;
  text-align: right;
  padding-top: 122px;
  width: 100%;
  h2{
    font-size:24px;
    color: #000000;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    &:after{
      content: '“';
      position: absolute;
      left: 0;
      top: 50px;
      color: #2de5ec;
      font-size: 136px;
      font-weight: 400;
      line-height: 24px;

    }
  }
  p{
    color: #7d7d7d;
    font-size:15px;
    line-height: 24px;
    padding-top: 34px;
  }
  @if $adaptive == true {
    @media (max-width: 1154px){
      float: none;
      text-align: center;
      margin: 0 auto;
      h2{
        &:after{
          left: -25px;
        }
      }
    }
  }

}
.foto-h{
  float: left;
  max-width: 464px;
  margin-left: 15px;
  margin-top: 45px;
  @if $adaptive == true {
    @media (max-width: 1154px){
      float: none;
      text-align: center;
      margin: 45px auto 0 auto;

    }
  }
  @if $adaptive == true {
    @media (max-width: 650px){
      img{
        width: 100%;
      }

    }
  }

}
.forma-h{
  margin-top: 133px;
  margin-left: 23px;
  text-align: left;
  float: left;
  width: 35%;
  p{
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  form{
    padding-top: 50px;
    input{
      margin-top: 10px;
      color: #000000;
      border-bottom: 2px solid #000;
      @include placeholder{
        color: #000000;
      }
    }
    button{
      margin-left: 0;
      margin-top: 57px;
      &:hover{
        color: #000;
      }
    }
    #name{
      background-image: url("../img/b-icon.png");
      background-position: left center;
      background-repeat: no-repeat;
    }
    #phone{
      background-image: url("../img/b-icon2.png");
      background-position: left center;
      background-repeat: no-repeat;
    }
  }

}
//ALWAYS END
@import "vlla";
@import "alsh";
@import "sketches.scss";