.alsh
    .wrapper
        section.question
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .number-abs
                                .line-back
                                .circle-number
                                    p 7
                            .text
                                h2 У Вас срочный заказ?
                                p
                                    | В некоторых случаях возможно сократить срок поставки макета вплоть до 5 дней. Оставьте ваши контактные данные, и мы свяжемся с вами, чтобы обсудить минимально возможные сроки.
                            form.send-form
                                label.send-name
                                    input.send(type='text', name='name', placeholder='Введите Ваше имя', required='')
                                label.send-email
                                    input.send(type='email', name='email', placeholder='Введите Ваше имя', required='')
                                button Отправить
        section.our-clients
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .number-abs
                                .line-back
                                .circle-number
                                    p 8
                            h2 Наши постоянные клиенты
                            ul.clients
                                li
                                    .img-responsive
                                        img(src='img/clients-1.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-2.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-3.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-1.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-2.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-3.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-1.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/clients-2.jpg', alt='img')
                            ul.sertification
                                li
                                    .img-responsive
                                        img(src='img/sertification-1.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/sertification-2.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/sertification-1.jpg', alt='img')
                                li
                                    .img-responsive
                                        img(src='img/sertification-2.jpg', alt='img')
        .contacts
            .inner
                .container-fluid
                    .row
                        .col-md-6
                            .number-abs
                                .line-back
                                .circle-number
                                    p 9
                            .contacts-text
                                h2 Давайте встретимся
                                p
                                    | г. Алматы, пр.Желтоксан 118
                                    | (выше ул.Толе Би)
                                a.phone(href='#') +7 775 511 11 13
                                a.email(href='#') info@mmkcompany.kz
                                button Заказать звонок
            .container-fluid.footer-map
                .row
                    .col-md-6
                    .col-md-6
                            img(src='img/map-img.jpg', alt='map-img')



        footer
            .wrapper-inner
                address © MMK Company. Все права защищены.
