extends layouts/html.jade
block content
    div.our-clients
        .inner
            .container-fluid
                .row
                    .col-md-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 3
                        h2 Обсудите детали проекта с руководителем напрямую