header
    .header__inner
        .inner
            .container-fluid
                .row
                    .col-md-6
                        a(href="#").logo
                            img(src="/img/logo.png")
                    .col-md-6(style="text-align: right;")
                        .header__contacts
                            a.header__phone(href="tel:+7 775 511 11 13") +7 775 511 11 13
                            a.header__email(href="mailto:info@mmkcompany.kz") info@mmkcompany.kz
                        a.btn.header__btn(href="#") Заказать звонок
                .header__title.row
                    .col-md-6
                        h1
                            | Профессиональное
                            br
                            | изготовление
                            br
                            | макетов в Казахстане
                    .col-md-6(style="text-align: right")
                        a.btn.btn_blue(href="#") Заказать разработку макета
                .header__adv.row
                    .col-md-12
                        .header__adv__item
                            | Изготовление от
                            strong 6 дней
                        .header__adv__item
                            | Работаем
                            strong 24/7
                        .header__adv__item
                            | Гарантия на макет
                            strong 3 года
                        .header__adv__item
                            | Доставка по РК
                            strong бесплатно

