



.vllaMakets
    .inner
        .container-fluid
            .row
                h4.col-xs-12.vllaMakets__heading
                    .number-abs
                        .line-back
                        .circle-number
                            p 5
                    | Выполняем уникальные заказы любой сложности
                .col-xs-12.vllaMakets__image
                    img(src='img/vlla__maket.png')
    .vllaMakets__garanty
        .container
            .row
                .col-xs-12.col-sm-8.col-sm-offset-1
                    .clearfix
                        .vllaMakets__garantyImage
                            img(src='img/vlla__zont.png')
                        .vllaMakets__garantyText
                            h4 Гарантия на макет 3 года
                            p Если на выполненном проекте сгорит лампочка - мы приедем чтобы ее заменить

.vllaStages
    .container
        .row
            .col-md-12
                h4.vllaStages__heading
                    .number-abs
                        .line-back
                        .circle-number
                            p 6
                    | Этапы производства

        .vllaStages__itemLeft
            .vllaStages__number
                img(src='img/vlla_1.png')
            h4 Разработка чертежей деталей будущего макета
            .vllaStages__iconRight
                img(src='img/vlla__drawingsIcon.png')
            p Это важнейший этап макетирования! Вы получаете лучшие решения, опробованные на сотнях других макетов. Проводится детальный анализ исходных данных и целей макета.
        .vllaStages__itemRight
            .vllaStages__number
                img(src='img/vlla_2.png')
            h4 Подготовка материала для макета
            .vllaStages__iconLeft
                img(src='img/vlla__materialIcon.png')
            p Этот этап включает в себя резку деталей, изготовление деталей на 3д принтере! Все детали изготавливаются на высокоточном лазерном и фрезерно-гравировальном оборудовании с ЧПУ, что обеспечивает высокое качество и точность моделей.
        .vllaStages__itemLeft
            .vllaStages__number
                img(src='img/vlla_3.png')
            h4 Покраска деталей макета
            .vllaStages__iconRight
                img(src='img/vlla__paintIcon.png')
            p Покраска выполняется в специальной камере с хорошей вентиляцией с применением аэрографа и бесшумного компрессора.
        .vllaStages__itemRight
            .vllaStages__number
                img(src='img/vlla_4.png')
            h4 Сборка макета
            .vllaStages__iconLeft
                img(src='img/vlla__assamblyIcon.png')
            p Этот этап включает в себя сборку самого макета по чертежам разработчика, подготовки ландшафта, установки электронных опций, художественное оформление макета и установки прозрачного колпака
