extends layouts/html.jade
block content
    .galery-projects
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 2
                        .title-all
                            h2 Выполненные проекты
                        .text-items-galery
                            h3 Мечеть "Хазрет Султан"
                            .ft-galery
                                h3 Высокодетализированный макет выполнен:
                                p - Масштаб......................................................1:200
                                p - Подмакетник.............................................2600х2600 мм.
                                p - Уличных фонарей с подсветкой............350 шт.
                                p - Срок изготовления...................................25 дней
                            .change-block-galety
                                img(src='img/1-р.jpg')
                            .bg-block
        .galery-img
            ul
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
    .galery-projects.galert-projects-two
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .text-items-galery
                            h3 Макет дворца "Мира и Согласия" <br>в разрезе
                            .ft-galery
                             h3 Высокодетализированный макет выполнен:
                             p - Масштаб......................................................1:200
                             p - Подмакетник.............................................2600х2600 мм.
                             p - Уличных фонарей с подсветкой............350 шт.
                             p - Срок изготовления...................................25 дней

                        .change-block-galety
                                img(src='img/1-р.jpg')

                            .bg-block
        .galery-img
            ul
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
    .galery-projects.galery-projects-tree.clearfix
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .text-items-galery
                            h3 Макет нового вокзала города<br> Астаны "Нұрлы жол"
                            .ft-galery
                                h3 Высокодетализированный макет выполнен:
                                p - Масштаб......................................................1:200
                                p - Подмакетник.............................................2600х2600 мм.
                                p - Уличных фонарей с подсветкой............350 шт.
                                p - Срок изготовления...................................25 дней
                            .change-block-galety
                                img(src='img/1-р.jpg')
                            .bg-block
        .galery-img
            ul
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
    .director
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 4
                        .title-all
                            h2 Обсудите детали проекта <br>
                               |с руководителем напрямую
                        .director-info.clearfix
                            .c-tre
                                .name-h
                                    h2 Салыкбаев<br> Ескандир<br> Кайратжанович
                                    p Руководитель<br> проектов компании
                                .foto-h
                                    img(src='img/drec.png')
                                .form-cost.forma-h
                                    p Получите несколько вариантов комплектации<br>
                                        | со сравнением стоимости и сроков<br> изготовления, а также ответы на все ваши <br>    вопросы
                                    form
                                        input(placeholder='Введите Ваше имя' id='name' required=)
                                        input(placeholder='Введите Ваше имя' id='phone' required=)
                                        button(class='btn btn_blue' name='send') Отправить




