extends layouts/html.jade
block content
    .galery-projects
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 2
                        .title-all
                            h2 Выполненные проекты
                        .text-items-galery
                            h3 Мечеть "Хазрет Султан"
                            .ft-galery
                                h3 Высокодетализированный макет выполнен:
                                p - Масштаб......................................................1:200
                                p - Подмакетник.............................................2600х2600 мм.
                                p - Уличных фонарей с подсветкой............350 шт.
                                p - Срок изготовления...................................25 дней
                            .change-block-galety
                                img(src='img/1-р.jpg')
                            .bg-block
        .galery-img
            ul
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
    .galery-projects.galert-projects-two
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .text-items-galery
                            h3 Макет дворца "Мира и Согласия" <br>в разрезе
                            .ft-galery
                             h3 Высокодетализированный макет выполнен:
                             p - Масштаб......................................................1:200
                             p - Подмакетник.............................................2600х2600 мм.
                             p - Уличных фонарей с подсветкой............350 шт.
                             p - Срок изготовления...................................25 дней

                        .change-block-galety
                                img(src='img/1-р.jpg')

                            .bg-block
        .galery-img
            ul
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
    .galery-projects.galery-projects-tree.clearfix
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .text-items-galery
                            h3 Макет нового вокзала города<br> Астаны "Нұрлы жол"
                            .ft-galery
                                h3 Высокодетализированный макет выполнен:
                                p - Масштаб......................................................1:200
                                p - Подмакетник.............................................2600х2600 мм.
                                p - Уличных фонарей с подсветкой............350 шт.
                                p - Срок изготовления...................................25 дней
                            .change-block-galety
                                img(src='img/1-р.jpg')
                            .bg-block
        .galery-img
            ul
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
                li
                    img(src='img/2.png')
    .vllaDifferentTasks
        .container
            .row
                h4.col-md-12.vllaDT__heading
                    .number-abs
                        .line-back
                        .circle-number
                            p 3
                    | Наши клиенты решают различные задачи
        .container
            .row
                .vllaDT__item.col-xs-12.col-sm-4
                    h4 Предварительный просмотр перед началом застройки
                    p Макет даёт возможность наглядно оценить, взвесить и принять решения еще не построенного сооружения, что существенно сэкономит Ваше время и затраты.
                .vllaDT__item.col-xs-12.col-sm-4
                    h4 Привлечение инвесторов
                    p Красивый, высоко детализированный и объёмный вид завода, административного здания или же ТРЦ в миниатюре гарантированно вызывает положительные эмоции.
                .vllaDT__item.col-xs-12.col-sm-4
                    h4 Проведение презентации
                    p Наибoлее распространённая область применения макета — это презентация, где макет помогает наглядно показать итог задуманных работ.
            .row
                .vllaDT__image
                    img(src='img/vlla__mmk.png')
                    .vllaDT__circle
                        img(src='img/vlla__circle.png')
                    .vllaDT__circle.vllaDT__circle--inside
            .row
                .vllaDT__item.col-xs-12.col-sm-4
                    h4 Подарок и украшение интерьера
                    p Наиболее распространённая область применения макета — это презентация, где макет помогает наглядно показать итог задуманных работ.
                .vllaDT__item.col-xs-12.col-sm-4
                    h4 Помогает в продаже
                    p Использование макета в качестве экспоната на выставке или же в другом людном месте это лучший метод для привлечения внимания потенциальных клиентов.
                .vllaDT__item.col-xs-12.col-sm-4
                    h4 Обучение персонала
                    p Использование макета в качестве экспоната на выставке или же в другом людном месте это лучший метод для привлечения внимания потенциальных клиентов.
    .director
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 4
                        .title-all
                            h2 Обсудите детали проекта <br>
                               |с руководителем напрямую
                        .director-info.clearfix
                            .c-tre
                                .name-h
                                    h2 Салыкбаев<br> Ескандир<br> Кайратжанович
                                    p Руководитель<br> проектов компании
                                .foto-h
                                    img(src='img/drec.png')
                                .form-cost.forma-h
                                    p Получите несколько вариантов комплектации<br>
                                        | со сравнением стоимости и сроков<br> изготовления, а также ответы на все ваши <br>    вопросы
                                    form
                                        input(placeholder='Введите Ваше имя' id='name' required=)
                                        input(placeholder='Введите Ваше имя' id='phone' required=)
                                        button(class='btn btn_blue' name='send') Отправить
    include _vlla
    include _alsh



