extends layouts/html.jade
block content
    .galery-projects
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 2
                        .title-all
                            h2 Выполненные проекты
                        .text-items-galery
                            h3 Мечеть "Хазрет Султан"
                            .ft-galery
                                h3 Высокодетализированный макет выполнен:
                                p - Масштаб......................................................1:200
                                p - Подмакетник.............................................2600х2600 мм.
                                p - Уличных фонарей с подсветкой............350 шт.
                                p - Срок изготовления...................................25 дней
                            .change-block-galety
                                img(src='img/1-р.jpg')
                            .bg-block
        .galery-img
            ul
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')
                li
                  img(src='img/2.png')


