extends layouts/html.jade
block content
    .slider-projects
        .inner
            .container-fluid
                .row
                    .col-xs-12
                        .number-abs
                            .line-back
                            .circle-number
                                p 2

