@font-face {
  font-family: "SeroPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SeroPro/SeroPro.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroPro/SeroPro.woff") format("woff"), url("../fonts/SeroPro/SeroPro.ttf") format("truetype"), url("../fonts/SeroPro/SeroPro.svg#SeroPro") format("svg"); }

@font-face {
  font-family: "SeroPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SeroPro-Bold/SeroPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroPro-Bold/SeroPro-Bold.woff") format("woff"), url("../fonts/SeroPro-Bold/SeroPro-Bold.ttf") format("truetype"), url("../fonts/SeroPro-Bold/SeroPro-Bold.svg#SeroPro") format("svg"); }

@font-face {
  font-family: "SeroPro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/SeroPro-Black/SeroPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroPro-Black/SeroPro-Black.woff") format("woff"), url("../fonts/SeroPro-Black/SeroPro-Black.ttf") format("truetype"), url("../fonts/SeroPro-Black/SeroPro-Black.svg#SeroPro") format("svg"); }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: .4s;
  animation-duration: .4s; }

@-webkit-keyframes shake {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  20%, 60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes shake {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  20%, 60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

body {
  font-family: "SeroPro"; }

header {
  padding: 44px 54px;
  background: url(../img/mainbg.jpg) center; }
  @media (max-width: 1350px) {
    header {
      padding: 44px 45px; } }
  @media (max-width: 991px) {
    header .col-xs-12 {
      text-align: center !important; } }
  @media (max-width: 490px) {
    header {
      padding: 44px 25px; } }

.inner {
  max-width: 1170px;
  margin: 0 auto; }

.header__inner {
  border-left: 1px solid #0f8ee8;
  border-right: 1px solid #35b82a;
  position: relative;
  padding-top: 64px; }
  .header__inner:after, .header__inner:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#0f8ee8), to(#35b82a));
    background-image: -webkit-linear-gradient(left, #0f8ee8, #35b82a);
    background-image: linear-gradient(to right, #0f8ee8, #35b82a); }
  .header__inner:after {
    top: 0; }
  .header__inner:before {
    bottom: 0; }

.logo {
  margin-top: -20px;
  margin-left: -42px;
  display: block; }
  @media (max-width: 991px) {
    .logo {
      margin-left: 0;
      text-align: center; } }

.header__contacts {
  max-width: 265px;
  text-align: right;
  margin-top: -10px;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 1157px) {
    .header__contacts {
      margin-bottom: 20px; } }
  @media (max-width: 991px) {
    .header__contacts {
      display: block;
      max-width: inherit;
      text-align: center; } }

.header__phone {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 4px; }
  .header__phone:hover {
    color: #fff; }

.header__email {
  color: #2de5ec;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
  display: block; }
  .header__email:hover, .header__email:focus {
    color: #2de5ec;
    text-decoration: underline; }

.btn {
  width: 210px;
  height: 52px;
  background-color: white;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  color: #111a1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  border: 1px solid transparent;
  display: inline-block; }
  .btn:hover, .btn:focus {
    border: 1px solid #fff;
    color: #fff;
    background: transparent; }

.header__btn {
  margin-left: 30px;
  vertical-align: top; }
  @media (max-width: 991px) {
    .header__btn {
      margin-left: 0; } }

.header__title {
  padding-top: 35px; }
  .header__title h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px; }
  .header__title .btn_blue {
    margin-top: 50px; }
  @media (max-width: 991px) {
    .header__title {
      text-align: center; } }
  @media (max-width: 600px) {
    .header__title h1 {
      font-size: 40px;
      line-height: 45px; } }
  @media (max-width: 415px) {
    .header__title .btn_blue {
      font-size: 18px; } }
  @media (max-width: 440px) {
    .header__title h1 {
      font-size: 33px;
      line-height: 35px; } }
  @media (max-width: 390px) {
    .header__title h1 {
      font-size: 30px;
      line-height: 35px; } }
  @media (max-width: 345px) {
    .header__title h1 {
      font-size: 26px;
      line-height: 30px; } }

.btn_blue {
  max-width: 476px;
  width: 100%;
  height: 94px;
  background-color: #2de5ec;
  -webkit-border-radius: 47px;
  border-radius: 47px;
  color: #0e0402;
  font-size: 22px;
  font-weight: 400;
  line-height: 86px; }

.header__adv {
  padding-top: 85px;
  padding-bottom: 155px; }

.header__adv__item {
  border: 5px solid rgba(255, 255, 255, 0.09);
  float: left;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-right: 12px;
  padding: 54px 63px; }
  .header__adv__item strong {
    display: block;
    color: #2de5ec;
    font-size: 42px;
    font-weight: 900; }
  .header__adv__item:last-child {
    margin-right: 0; }
  @media (max-width: 1284px) {
    .header__adv__item {
      padding: 54px 50px; } }
  @media (max-width: 1180px) {
    .header__adv__item {
      padding: 54px 40px; } }
  @media (max-width: 1180px) {
    .header__adv__item {
      padding: 50px 35px; } }
  @media (max-width: 1060px) {
    .header__adv__item {
      padding: 45px 30px; } }
  @media (max-width: 1020px) {
    .header__adv__item {
      padding: 40px 25px; } }
  @media (max-width: 991px) {
    .header__adv__item {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin: 15px 5px; } }
  @media (max-width: 500px) {
    .header__adv__item {
      min-width: 300px; } }
  @media (max-width: 390px) {
    .header__adv__item {
      min-width: 200px;
      max-width: 200px;
      padding: 40px 15px; }
      .header__adv__item strong {
        font-size: 33px; } }

.circle-bord {
  position: absolute;
  bottom: -25px;
  right: -45px;
  width: 109px;
  height: 110px;
  background-color: #2de5ec;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  text-align: center; }
  .circle-bord img {
    padding-top: 31px; }
  @media (max-width: 490px) {
    .circle-bord {
      right: -20px; } }

.form-know {
  position: relative; }

.number-abs {
  position: absolute;
  top: 70px;
  left: -60px; }
  .number-abs .line-back {
    width: 347px;
    height: 2px;
    background-color: #2de5ec;
    position: relative;
    left: -100%;
    top: 24px; }
  .number-abs .circle-number {
    border: 1px solid #2de5ec;
    width: 50px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    text-align: center;
    height: 50px; }
    .number-abs .circle-number p {
      font-size: 18px;
      color: #2de5ec;
      line-height: 52px; }
  @media (max-width: 1350px) {
    .number-abs {
      left: 0px; } }
  @media (max-width: 991px) {
    .number-abs {
      top: 0; } }
  @media (max-width: 400px) {
    .number-abs {
      width: 50px;
      height: 50px; }
      .number-abs .line-back {
        width: 50px; } }

.coast {
  margin-top: 74px;
  position: relative; }
  .coast h2 {
    font-size: 46px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold; }
  @media (max-width: 1350px) {
    .coast {
      padding-left: 50px; } }
  @media (max-width: 991px) {
    .coast {
      padding-left: 0px; }
      .coast h2 {
        padding-left: 50px; } }
  @media (max-width: 622px) {
    .coast h2 {
      font-size: 40px; } }
  @media (max-width: 563px) {
    .coast h2 {
      font-size: 35px;
      line-height: 40px; }
      .coast h2 br {
        display: none; } }
  @media (max-width: 514px) {
    .coast h2 {
      font-size: 30px;
      line-height: 40px; }
      .coast h2 br {
        display: none; } }
  @media (max-width: 424px) {
    .coast h2 {
      font-size: 27px;
      line-height: 40px; }
      .coast h2 br {
        display: none; } }
  @media (max-width: 395px) {
    .coast h2 {
      font-size: 6vw;
      line-height: 40px; }
      .coast h2 br {
        display: none; } }

.form-cost {
  margin-top: 54px; }
  .form-cost .btn_blue {
    max-width: 323px;
    height: 73px;
    line-height: 75px; }
  .form-cost form input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    margin-right: 39px;
    max-width: 325px;
    width: 100%;
    padding-left: 27px; }
    .form-cost form input::-webkit-input-placeholder {
      color: #fff;
      font-size: 16px; }
    .form-cost form input::-moz-placeholder {
      color: #fff;
      font-size: 16px; }
    .form-cost form input:-moz-placeholder {
      color: #fff;
      font-size: 16px; }
    .form-cost form input:-ms-input-placeholder {
      color: #fff;
      font-size: 16px; }
  .form-cost form button {
    margin-left: 73px; }
  .form-cost form #name {
    background-image: url("../img/shape-3.png");
    background-position: left center;
    background-repeat: no-repeat; }
  .form-cost form #phone {
    background-image: url("../img/shape-4.png");
    background-position: left center;
    background-repeat: no-repeat; }
  @media (max-width: 1350px) {
    .form-cost form button {
      margin-left: 20px; } }
  @media (max-width: 1247px) {
    .form-cost form button {
      margin-left: 0px; }
    .form-cost form input {
      max-width: 250px; } }
  @media (max-width: 1077px) {
    .form-cost form button {
      margin-left: 0px;
      margin-top: 25px; } }
  @media (max-width: 991px) {
    .form-cost form {
      text-align: center; }
      .form-cost form input {
        max-width: inherit;
        display: block; } }

.proposal {
  margin-top: 119px; }
  .proposal li {
    float: left;
    margin-right: 50px;
    margin-left: -17px; }
    .proposal li * {
      display: inline-block;
      vertical-align: top; }
  .proposal h3 {
    font-size: 60px;
    color: #2de5ec;
    line-height: 24px;
    font-weight: 900;
    position: relative;
    opacity: 0.41;
    left: 17px;
    top: 13px; }
  .proposal p {
    font-size: 16px;
    color: #fff;
    line-height: 24px; }
  @media (max-width: 1245px) {
    .proposal li {
      margin-left: 0;
      margin-right: 10px; } }
  @media (max-width: 1176px) {
    .proposal li {
      margin-left: 0;
      margin-right: 5px; } }
  @media (max-width: 1161px) {
    .proposal ul {
      text-align: center; }
    .proposal li {
      float: none;
      display: inline-block;
      margin: 15px 15px; } }
  @media (max-width: 522px) {
    .proposal h3 {
      left: 0;
      top: 0;
      display: block; } }
