@import url(../libs/lightslider/dist/css/lightslider.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    -webkit-transition: opacity 0.125s 0.275s ease;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
  transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    -webkit-transition: opacity 0.125s 0.275s ease;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
    transform: translate3d(0, -20px, 0) rotate(270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s; }

.title-all {
  margin-top: 64px;
  position: relative;
  z-index: 70; }
  .title-all h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000000; }
  @media (max-width: 1350px) {
    .title-all h2 {
      margin-left: 50px; } }

.text-items-galery {
  margin-top: 117px; }
  .text-items-galery h3 {
    color: #090a0b;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    z-index: 69; }
  @media (max-width: 991px) {
    .text-items-galery {
      text-align: center; } }

.ft-galery {
  padding-top: 53px;
  position: relative;
  z-index: 69;
  float: left; }
  .ft-galery h3 {
    font-size: 16px;
    line-height: 36px;
    font-weight: 400; }
  .ft-galery p {
    font-size: 16px;
    color: #090a0b;
    line-height: 36px; }
  @media (max-width: 991px) {
    .ft-galery {
      text-align: center;
      display: block;
      float: none; } }

.change-block-galety {
  margin-left: 212px;
  float: left;
  position: relative;
  z-index: 69;
  margin-top: -273px; }
  @media (max-width: 1160px) {
    .change-block-galety {
      margin-left: 40px; } }
  @media (max-width: 991px) {
    .change-block-galety {
      text-align: center;
      display: block;
      float: none;
      margin-top: 0;
      margin-left: 0; } }

.bg-block {
  width: 593px;
  height: 333px;
  background-color: #2de5ec;
  position: relative;
  margin-left: 49px;
  margin-top: -59px;
  opacity: 0.12; }
  @media (max-width: 991px) {
    .bg-block {
      display: none; } }

.galery-img li {
  float: left;
  width: 227px;
  height: 168px;
  margin: 0 2px;
  position: relative;
  cursor: pointer; }
  .galery-img li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); }
  .galery-img li:hover {
    -webkit-box-shadow: 0 0px 15px black;
    box-shadow: 0 0px 15px black; }
    .galery-img li:hover:after {
      display: none; }
  .galery-img li img {
    width: 100%; }

@media (max-width: 1616px) {
  .galery-img li {
    float: none;
    display: inline-block;
    margin: 0;
    width: 200px;
    height: 168px; } }

@media (max-width: 1418px) {
  .galery-img li {
    float: none;
    display: inline-block;
    margin: 0;
    width: 180px;
    height: 168px; }
    .galery-img li img {
      height: 168px; } }

.galert-projects-two .change-block-galety {
  margin-left: 0;
  margin-right: 46px;
  margin-top: 112px; }

.galert-projects-two .bg-block {
  margin-left: 580px;
  margin-top: 110px; }

.galert-projects-two .text-items-galery {
  margin-top: 146px;
  float: right;
  margin-right: 150px; }

.galert-projects-two .galery-img {
  position: relative;
  margin-top: -185px; }

@media (max-width: 1200px) {
  .galert-projects-two .bg-block {
    margin-left: 480px; } }

@media (max-width: 1196px) {
  .galert-projects-two .change-block-galety {
    margin-top: 110px;
    margin-right: 20px; } }

@media (max-width: 1090px) {
  .galert-projects-two .bg-block {
    margin-left: 380px; } }

@media (max-width: 1170px) {
  .galert-projects-two .text-items-galery {
    margin-right: 125px; } }

@media (max-width: 994px) {
  .galert-projects-two .change-block-galety {
    margin-right: 20px; } }

@media (max-width: 991px) {
  .galert-projects-two .text-items-galery {
    float: none;
    margin-right: 0; } }

.galery-projects-tree {
  margin-top: 170px; }
  .galery-projects-tree .change-block-galety {
    margin-top: -60px; }
  .galery-projects-tree .galery-img {
    position: relative;
    margin-top: -180px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 18px;
  display: block;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.field {
  position: relative;
  float: left; }
  .field .allert .fa-exclamation-triangle {
    display: block;
    background-size: 100%;
    width: 25px;
    height: 25px; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

a {
  text-decoration: none;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.clearfix:after {
  clear: both; }

.inner {
  max-width: 1200px;
  margin: 0 auto; }

.icon {
  display: inline-block; }

.btn {
  display: inline-block;
  -webkit-transition: .2s all;
  transition: .2s all; }
